<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosi.wx.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaosi.wx.model.SysMenu">
        <id column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="path" property="path" />
        <result column="sort" property="sort" />
        <result column="perms" property="perms" />
        <result column="type" property="type" />
        <result column="icon" property="icon" />
    </resultMap>
    <select id="selectMenuByRoleId" resultType="com.xiaosi.wx.model.SysMenu">
        select
        m.id,
        m.parent_id,
        m.name,
        m.path,
        m.sort,
        m.perms,
        m.type,
        m.icon,
        m.create_by,
        m.create_time,
        m.update_by,
        m.update_time,
        m.deleted
        from sys_menu m
        left join sys_role_menu srm on m.id = srm.menu_id
        where m.deleted = 0 AND srm.role_id in
        <foreach collection="roleIds" open="(" close=")" separator="," item="roleId">
            #{roleId}
        </foreach>
    </select>

</mapper>
