<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosi.wx.mapper.SysUserMapper">
  <sql id="Base_Column_List">
    id,
    username,
    password,
    enabled,
    account_non_locked,
    account_non_expired,
    credentials_non_expired,
    nick_name,
    sex,
    mobile,
    email,
    addr,
    avatar,
    dept_id,
    create_by,
    create_time,
    update_by,
    update_time,
    deleted,
    access_policy
  </sql>
  <resultMap id="SysUserResultMap" type="com.xiaosi.wx.model.SysUser">
    <id column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="enabled" property="enabled"/>
    <result column="account_non_locked" property="accountNonLocked"/>
    <result column="account_non_expired" property="accountNonExpired"/>
    <result column="credentials_non_expired" property="credentialsNonExpired"/>
    <result column="nick_name" property="nickName"/>
    <result column="sex" property="sex"/>
    <result column="mobile" property="mobile"/>
    <result column="email" property="email"/>
    <result column="addr" property="addr"/>
    <result column="avatar" property="avatar"/>
    <result column="dept_id" property="deptId"/>
    <result column="access_policy" property="accessPolicy"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="update_by" property="updateBy"/>
    <result column="update_time" property="updateTime"/>
    <result column="deleted" property="deleted"/>
    <collection property="roleSet" resultMap="RoleResultMap"/>
  </resultMap>

  <resultMap id="RoleResultMap" type="com.xiaosi.wx.model.SysRole">
    <id column="role_id" property="id"/>
    <result column="role_name" property="name"/>
    <result column="role_code" property="code"/>
    <result column="role_sort" property="sort"/>
    <result column="role_create_by" property="createBy"/>
    <result column="role_create_time" property="createTime"/>
    <result column="role_update_by" property="updateBy"/>
    <result column="role_update_time" property="updateTime"/>
    <result column="role_deleted" property="deleted"/>
  </resultMap>
    <select id="selectByUserName" resultMap="SysUserResultMap">
      select
        u.id,
        u.username,
        u.password,
        u.enabled,
        u.account_non_locked,
        u.account_non_expired,
        u.credentials_non_expired,
        u.nick_name,
        u.sex,
        u.mobile,
        u.email,
        u.addr,
        u.avatar,
        u.dept_id,
        u.create_by,
        u.create_time,
        u.update_by,
        u.update_time,
        u.deleted,
        u.access_policy,
        r.id AS role_id,
        r.name AS role_name,
        r.code AS role_code,
        r.sort AS role_sort,,
        r.create_by AS role_create_by,
        r.create_time AS role_create_time,
        r.update_by AS role_update_by,
        r.update_time AS role_update_time,
        r.deleted AS role_deleted
      from sys_user u
      left join sys_user_role sur on u.id = sur.user_id
      left join sys_role r on sur.role_id = r.id
      where u.deleted = 0 and r.deleted = 0 and u.username = #{username}
    </select>
</mapper>
