<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosi.mul.datasource.mapper.db1.StuMapper">


    <select id="queryAll" resultType="com.xiaosi.mul.datasource.entity.Stu">
        SELECT * FROM stu
    </select>
</mapper>
